/* You can add global styles to this file, and also import other style files */
body{
    background-size: cover;
    background-image: url('./assets/imgs/fondo.jpg');
}
.container{ background-color: white; margin-top:30px; }
.navbar{ padding: 0px, 10px, 0px , 10px;
    margin:0xp;
    margin-left:0px;}