<form class="form-horizontal">

  

  
  <div class="row">
      <legend>Ingresar libro</legend>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
      <div class="form-group">
        <label for="inputTitulo">Titulo del libro:</label>
        <input type="text" class="form-control"
          id="inputTitulo"
          placeholder="titulo">
          </div>
    
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
      <div class="form-group">
        <label for="inputname">Autor:</label>
        <input type="text" class="form-control"
          id="inputname"
          placeholder="titulo">
        </div>
      </div>
  
  
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
      <div class="form-group">
        <label for="inputPaginas">numero de paginas:</label>
        <input type="text" class="form-control"
          id="inputPaginas"
          placeholder="Paginas">
          </div>
    
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
      <div class="form-group">
        <label for="inputPrecio">Precio:</label>
        <input type="text" class="form-control"
          id="inputPrecio"
          placeholder="Precio">
        </div>
      </div>
      <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
        <div class="form-group">
          <label for="inputidcodigo">idcodigo:</label>
          <input type="text" class="form-control"
            id="inputidcodigo"
            placeholder="Codigoid:  SUS001">
          </div>
        </div>

  <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
    <div class="form-group">
      <label for="exampleFormControlSelect2">Example multiple select</label>
      <select class="form-control" id="exampleFormControlSelect2">
        <option  value="novela" >Novela</option>
        <option  value="suspenso" >Suspenso</option>
        <option  value="tecnico" >Tecnico</option>
        <option  value="matematica" >Matematicas</option>
       
      </select>
    </div>

  </div>
    </div> 
      
     </form>
   
      